# Ignore Python virtual environment
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Streamlit cache
.streamlit/
.cache/

# OS-specific junk
.DS_Store
Thumbs.db

.env

background_remover_v2.py
background_remover_v3.py